
.background{
    background-color: lightgrey;
    height: 100px;
}
  
.dropdown {
    float: left;
    padding-right: 50px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content li{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content :hover {
    background-color: #f1f1f1
    }

.dropdown:hover .dropdown-content {
    display: block;
}


@media only screen and (min-width: 900px) {  
    .test{
        display: none;
    }
    .dropdown-content {
        display: inline-block;
        padding: 0px 50px 0px 50px;
    }
    .dropdown-content li {
        display: inline-block;
    }
}

 