.clearfix::after {
content: "";
display: table;
clear: both;
}   

.mobile {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: lightgrey;
    text-align: center;
}

div a {
-webkit-text-fill-color: black;
font-size: 30px;
display: list-item;
text-decoration: none;
}
div a:hover {
    cursor: pointer;
    text-decoration: underline;
}

button {
    border: 0;
    font-size: 30px;
    background: lightgrey;
}
button:hover{
    background-color: grey;
    cursor: pointer;
}


.Home {
    text-align: center;
    font-size: 20px;
    background-color: wheat;
    margin-top: 400px;
}

.About{
    text-align: center;
    font-size: 20px;
    background-color: wheat;
    margin-top: 400px;
}

#articles {
      text-align: center;
    font-size: 20px;
    margin-top: 300px;
    background-color: wheat;

}

@media only screen and (min-width: 600px) {  
    button{
        display: none;
    }
    div a {
        display: inline; 
        text-align: center;
        padding: 20px;
        height: 20px;
    }
}

 